<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>分类列表</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="<%= CDNURL %>/static/layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="//at.alicdn.com/t/font_tnyc012u2rlwstt9.css" media="all" />
	<link rel="stylesheet" href="<%= CDNURL %>/static/css/admin/news.css" media="all" />
</head>
<body class="childrenBody">
	<blockquote class="layui-elem-quote news_search">
		<div class="layui-inline">
			<a class="layui-btn linksAdd_btn" style="background-color:#5FB878">添加分类</a>
		</div>
    <div class="layui-inline">
			<div class="layui-form-mid layui-word-aux">分类只能添加和修改，不能删除，文章关联着分类</div>
		</div>
	</blockquote>
	<div class="layui-form links_list">
	  	<table class="layui-table">
		    <colgroup>
				<col width="50">
				<col width="30%">
				<col>
				<col>
				<col>
				<col>
				<col>
				<col width="13%">
		    </colgroup>
		    <thead>
				<tr>
					<th>ID</th>
					<th style="text-align:left;">分类名称</th>
					<th>添加时间</th>
					<th>是否展示</th>
					<th>操作</th>
				</tr> 
		    </thead>
		    <tbody class="links_content"></tbody>
		</table>
	</div>
	<div id="page"></div>
	<script type="text/javascript" src="<%= CDNURL %>/static/layui/layui.js"></script>
	<script type="text/javascript" src="<%= CDNURL %>/static/page/category/categoryList.js"></script>
</body>
</html>